
body{
    background-color: beige;
    transition: 0.2s;
}
div{
    display: inline-block;
}
.outer-table{
    border: 0px solid blue;
}
.inner-column{
    border: 0px solid red;
    height: 20px;
    width: 25px;
    transition: 0.2s;
} 
.inner-table{
    width: 120px;
    height: 120px;
    transition: 0.2s;
    
    
}
.img{
    text-align: center;
    font-size:xx-large;
}

.value-column{
    text-align: center;
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;

}
table{
    border: 2px solid blueviolet;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    transition: 0.2s;
    margin: auto;
}
td{
    height: auto;
}
.t1{
    width: 100px;
    height: 100px;
}

.button{
    background-color: blueviolet;
    border-width: 0px;
    border-radius: 15px;
    color: antiquewhite;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover{
    background-color: blue;
}

.textbox{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-width: 0px;
    border-radius: 15px;
    text-align: center;
}

.label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 100;
}

.toprow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 2px;
}

.algopara{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
display: flex;
}

.column {
margin-top: 5px;    
padding-right: 350px;
}

.section {
    display: flex;
    justify-content: space-around;
}

.section-header {
    text-align: left;
    margin-left: 5%;;
}

#demonstration {
    width: 50%;
}

#algorithm-maths {
    width: 30%;
    padding-left: 10%;
}