
body{
    background-color: beige;
    transition: 0.2s;
}
div{
    display: inline-block;
}
.outer-table{
    border: 0px solid blue;
}
.inner-column{
    border: 0px solid red;
    height: 20px;
    width: 25px;
    transition: 0.2s;
} 
.inner-table{
    width: 120px;
    height: 120px;
    transition: 0.2s;
    
    
}
.img{
    text-align: center;
    font-size:xx-large;
}

.value-column{
    text-align: center;
    font-size: smaller;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: 0.2s;

}
table{
    border: 2px solid blueviolet;
    width: 20%;
    text-align: center;
    border-radius: 10px;
    transition: 0.2s;
    margin: auto;
}
td{
    height: auto;
}
.t1{
    width: 100px;
    height: 100px;
}

.button{
    background-color: blueviolet;
    border-width: 0px;
    border-radius: 15px;
    color: antiquewhite;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.button:hover{
    background-color: blue;
}

.textbox{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-width: 0px;
    border-radius: 15px;
    text-align: center;
}

.label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: 100;
}

.toprow{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 2px;
}

.algopara{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.row {
display: flex;
}

.column {
margin-top: 5px;    
padding-right: 350px;
}

#demo-section {
    display: flex;
    justify-content: space-around;
}

.section-header {
    text-align: left;
}

#demonstration {
    width: 50%;
}

#algorithm-maths {
    width: 30%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px 10%;
    background-color: #fafafa;
    color: #222;
}
h1, h2, h3 {
    color: #333;
}
h1 {
    margin-top: 40px;
}
.section {
    margin-bottom: 50px;
}
code {
    background: #eee;
    padding: 3px 6px;
    border-radius: 4px;
}
.equation {
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

#section1 {
    display: flex;
    justify-content: space-around;
}
#left-section1 {
    width: 50%;
}
#right-section1 {
    width: 50%;
}
.new-term {
    background-color: lightblue;
    padding: 2px 5px;
    border-radius: 5px;
}