
body{
    display: grid;
    place-items: center;
    background-color: aquamarine    ;
}
div{
    display: inline-block;
}
.steps{
position: absolute;
top: 10%;
left: 15%;
  
}
.outer-table{
    border: 2px solid blue;
}


.inner-column{
    border: 1px solid red;
    height: 20px;
    width: 25px;
} 
.inner-table{
    width: 200px;
    height: 100px;
    
}

.value-column{
    text-align: center;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
table{
    border: 2px solid blue;
    width: 20%;
    text-align: center;
    
   

}
td{
    
    height: auto;
}
.t1{
    width: 100px;
    height: 100px;
}

